.loader {
  width: 30px; /* gikan sa 60px, imo gi-half */
  aspect-ratio: 2;
  --g1: no-repeat radial-gradient(circle closest-side, blue 90%, #0000);
  --g2: no-repeat radial-gradient(circle closest-side, red 90%, #0000);
  --g3: no-repeat radial-gradient(circle closest-side, yellow 90%, #0000);

  background: 
    var(--g1) 0%   50%,
    var(--g2) 50%  50%,
    var(--g3) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
